body{
    background-color: #7689eb;
}

.container{
    max-width: fit-content;
    padding-top:10px;
    padding-bottom:5px;
}
.row{
    /* width:550px; */
    height: auto;
}
.container-card{
    width: 110px;
    height: 110px;
    position: relative;
    margin: 0 auto;   
    padding:0; 
}

img{
    width:100%;
    height:100%;
}
.card{
    border:1px solid black;
    width: 100px;
    height:100px;
    background-color: blue;
    position: absolute;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    transition: transform 500ms ease-in-out;
    transform-style: preserve-3d;
}  
.card:hover{
    transform: rotateY(180deg);
}

.side{
    border: red solid 5 px;
    width: 100px;
    height: 100px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}
  
.side--front{
  background-color: blue;
  /* z-index: 1; */
}
.side--back{
    background-color: rgb(255, 0, 157);
    transform: rotateY(180deg);
  }



@media(min-width: 440px){
.custom{
    width:25%;
}
}

